@model ExBook.Models.Search.SearchBookShelfBookViewModel
@{
    ViewData["Title"] = "Search";
}


<h2>
    Search Books
</h2>
<form asp-controller="Search" asp-action="Index" method="get">
    <p>
        Title: @Html.TextBoxFor(t=>t.FilterTitle)
        Login: @Html.TextBoxFor(t=> t.FilterLogin)
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table table-striped">
    <tr>
        <th scope="col">BookShelf Owner Name</th>
        <th scope="col">BookShelf Owner Login</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Cover</th>
        <th scope="col">Photo</th>
    </tr>
    @foreach (var book in Model.BookShelfBooks)
    {
<tr>
    <td>@($"{book.BookShelf.User.Name} {book.BookShelf.User.Surname}")</td>
    <td>@book.BookShelf.User.Login</td>
    <td>@book.Book.Name</td>
    <td>@book.Book.Author</td>
    @if (@book.Book.CoverUrl != null)
    {
        <td><img src=@book.Book.CoverUrl alt="Cover" style="width:32px;height:32px;"></td>
    }
    else
    {
        <td><img src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/256/image-missing-icon.png" alt="Cover" style="width:32px;height:32px;"></td>
    }
    <td><img src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/256/image-missing-icon.png" alt="Real Photo" style="width:32px;height:32px;"></td>
</tr>
    }
</table>