@model ExBook.Models.Search.SearchBookShelfBookViewModel
@{
    ViewData["Title"] = "Search";
}

<div class="card searchbar-card shadow-sm sticky-top">
    <div class="card-header">
        Search Books on bookshelves
    </div>
    <div class="card-body">
        <div class="modal fade " id="coverModal" role="dialog"></div>
        <form asp-controller="Search" asp-action="Bookshelves" method="get">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Title</label>
                    <input type="text" class="form-control mb-2" id="FilterTitle" name="FilterTitle" placeholder="Title" value="@Model.FilterTitle">
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Login</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="FilterLogin" name="FilterLogin" placeholder="Login" value="@Model.FilterLogin">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
                <div class="col-auto">
                    <button type="reset" class="btn btn-danger mb-2" id="clearSearch">Clear</button>
                </div>
        </form>
        @*<div class="col-auto">
                <form asp-controller="Search" asp-action="Index" method="get">
                    <button type="submit" class="btn btn-info mb-2">Return</button>
                </form>
            </div>*@
    </div>


</div>

<div class="books flex">
    <div class="row" style="margin-right:0 !important; margin-left:0 !important">
        @foreach (var book in Model.BookShelfBooks)
        {
            <div class="col-4 ">
                <div class="list-group" style="max-height:280px;">
                    <li class="list-group-item list-group-item-action flex-column align-items-start" style="height:280px;">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                <b>"@book.Book.Name"</b>
                                <br />@book.Book.Author
                            </h5>
                            <small>@book.Book.Created.Value.ToShortDateString()</small>
                        </div>
                        <p class="mb-1">
                            @if (book.Photo != null)
                            {
                                <img src=@("/attachment?id=" + book.Photo) alt="Cover" style="width:110px;height:160px;" id="test" onclick="Open('@book.Book.CoverUrl');" />
                            }
                            else if (@book.Book.CoverUrl != null)
                            {
                                <img src=@ExBook.Extensions.BookCoverExtensions.GetMediumCoverUrl(@book.Book.CoverUrl) alt="Cover" style="width:110px;height:160px;" id="test" onclick="Open('@book.Book.CoverUrl');" />
                            }
                            else
                            {
                                <img src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/256/image-missing-icon.png" onclick="Open('https://icons.iconarchive.com/icons/papirus-team/papirus-status/256/image-missing-icon.png');" alt="Cover" style="width:110px;height:160px;">
                            }
                            Owner: @book.BookShelf.User.Login
                            <div class="btn-group float-right" role="group" aria-label="Basic example">
                                <form asp-controller="Transaction" asp-route-id="@book.Id" asp-action="Initialize" method="post">
                                    <button type="submit" class="btn btn-primary btn-sm" title="Send offer">
                                        <i class="fas fa-envelope"></i>
                                    </button>
                                </form>
                            </div>
                        </p>
                        <small>@GetSubjects(@book.Book)</small>
                    </li>
                </div>
            </div>
        }
    </div>
</div>
@functions { 
    string GetSubjects(ExBook.Data.Book book)
    {
        return String.Join(',', book.Subjects.Select(s => s.Name));
    }

}
@section Scripts
{
    <script>
    function Open(cover) {
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("FullSizeCover", "Search")',
                    data: { Cover: cover },
                    success: function (data) {
                        $('#coverModal').html(data);
                        $('#coverModal').modal('show');
                    }
                })
    };
    window.onload = function () {
        document.getElementById('FilterTitle').value = "@Model.FilterTitle";
        document.getElementById('FilterLogin').value = "@Model.FilterLogin";
    };
    </script>
}
