@model ExBook.Models.UsersViewModel
@{
    ViewData["Title"] = "Search";
}


<h2>
    Users
</h2>
<form asp-controller="Search" asp-action="Index" method="get">
    <p>
        Name: <input type="text" name="SearchString" value=@ViewBag.Message>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table table-striped">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Login</th>
        <th scope="col">E-mail</th>
        <th scope="col">Name</th>
        <th scope="col">Is administrator</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Login</td>
            <td>@user.Email</td>
            <td>@($"{user.Name} {user.Surname}")</td>
            <td>@user.IsEmailConfirmed</td>
        </tr>
    }
</table>