@model ExBook.Models.UserAccountViewModel
@{ var currentUser = Model.CurrentUser; }
<div id="wrapper">
    <div id="page" class="container">
        <h1 class="heading has-text-weight-bold is-size-4">User's data</h1>

        <form asp-controller="UserAccount" asp-action="Update">
            <div id="field">
                <label class="label" for="inlineFormInput">Contact Number</label>

                <div class="control">
                    <input class="input is-danger"
                           type="text"
                           name="ContactNumber"
                           id="ContactNumber"
                           value="@currentUser.ContactNumber">
                    <!-- <p class="help is-danger">{{$errors->first('title')}}</p>-->
                </div>
            </div>

            <div id="field">
                <label class="label" for="inlineFormInput">Address</label>

                <div class="control">
                    <textarea class="textarea is-danger"
                              name="Address"
                              id="Address">
                              @currentUser.Address
                    </textarea>
                    <!--<p class="help is-danger">{{$errors->first('excerpt')}}</p> -->
                </div>
            </div>

            <div id="field">
                <label class="label" for="inlineFormInput">Postal Code</label>

                <div class="control">
                    <input class="input is-danger"
                           type="text"
                           name="PostalCode"
                           id="PostalCode"
                           value="@currentUser.PostalCode">
                    <!-- <p class="help is-danger">{{$errors->first('title')}}</p>-->
                </div>
            </div>

            <div id="field">
                <label class="label" for="inlineFormInput">City</label>

                <div class="control">
                    <input class="input is-danger"
                           type="text"
                           name="City"
                           id="City"
                           value="@currentUser.City">
                    <!-- <p class="help is-danger">{{$errors->first('title')}}</p>-->
                </div>
            </div>

            <div id="field">
                <label class="label" for="inlineFormInput">Country</label>

                <div class="control">
                    <input class="input is-danger"
                           type="text"
                           name="Country"
                           id="Country"
                           value="@currentUser.Country">
                    <!-- <p class="help is-danger">{{$errors->first('title')}}</p>-->
                </div>
            </div>

            <div id="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
            </div>

        </form>
