@model ExBook.Models.UserAccountViewModel

<h2>
    User's personal data
</h2>

<table class="table table-striped">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Login</th>
        <th scope="col">E-mail</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Is administrator</th>
    </tr>
    @{var user = Model.CurrentUser;
    <tr>
        <td>@user.Id</td>
        <td>@user.Login</td>
        <td>@user.Email</td>
        <td>@($"{user.Name} {user.Surname}")</td>
        <td>@user.Role</td>
        <td>@user.IsEmailConfirmed</td>
    </tr>
        }
</table>
