@model ExBook.Data.User
    <form asp-controller="UserAccount" asp-action="Update">
        <div class="container flex justify-content-center" style="height:100%;">
            <div class="card">
                <div class="card-header align-items-center">
                    User Details
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <a onclick="EditUser();" class="btn btn-outline-secondary users" title="Edit"> <i class="fas fa-edit"></i></a>
                    </div>
                </div>
                <div class="card-body" style="height:70vh;">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            <label for="inputLogin">Login</label>
                            <input type="text" class="form-control details" id="Login" name="Login" placeholder="Login" value="@Model.Login" readonly required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword">Password</label>
                            <input type="text" class="form-control details" id="Password" name="Password" placeholder="Password" value="@Model.Password" readonly required>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            <label for="inputEmail">Email</label>
                            <input type="text" class="form-control details" id="Email" name="Email" placeholder="Email" value="@Model.Email" readonly required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputContactNumber">Contact Number</label>
                            <input type="text" class="form-control details" id="ContactNumber" name="ContactNumber" placeholder="Number" value="@Model.ContactNumber" readonly>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control details" id="Name" name="Name" placeholder="Name" value="@Model.Name" readonly required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputSurname">Surname</label>
                            <input type="text" class="form-control details" id="Surname" name="Surname" placeholder="Surname" value="@Model.Surname" readonly required>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control details" id="Address" name="Address" placeholder="Address" value="@Model.Address" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control details" id="City" name="City" placeholder="City" value="@Model.City" readonly>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4">
                            <label for="inputZip">Postal Code</label>
                            <input type="text" class="form-control details" id="PostalCode" name="PostalCode" placeholder="Postal Code" value="@Model.PostalCode" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCountry">Country</label>
                            <input type="text" class="form-control details" id="Country" name="Country" placeholder="Country" value="@Model.Country" readonly>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="float-right buttons " style="visibility:hidden;" id="footerButtons">
                        <button type="submit" class="btn btn-primary btn-sm" title="Save">Save</button>
                        <a href="@Url.Action("Index", "UserAccount")" class="btn btn-primary btn-sm" title="Cancel"> Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>


    @section Scripts
{
        <script type="text/javascript">
            function EditUser() {
                var footer = document.getElementById("footerButtons");
                $('.details').each(function () {
                    $(this).removeAttr('readonly');
                });
                footer.style.visibility = "visible";
            };

        </script>
    }

    <style>
        .col-md-4 {
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>