@model ExBook.Models.UserAccountViewModel

<h2>
    User's personal data
</h2>

<div class="user-data">
    <table class="table table-striped">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Login</th>
            <th scope="col">E-mail</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Is administrator</th>
            <th scope="col">Contact</th>
            <th scope="col">Address</th>
            <th scope="col">Postal Code</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
        </tr>
        @{var user = Model.ModifiedUser;
            <tr>
                <td>@user.Id</td>
                <td>@user.Login</td>
                <td>@user.Email</td>
                <td>@($"{user.Name} {user.Surname}")</td>
                <td>@user.Role</td>
                <td>@user.IsEmailConfirmed</td>
                <td>@($"{user.ContactNumber??"No data"}") </td>
                <td>@($"{user.Address??"No data"}") </td>
                <td>@($"{user.PostalCode??"No data"}") </td>
                <td>@($"{user.City??"No data"}") </td>
                <td>@($"{user.Country??"No data"}") </td>
            </tr>
            }
    </table>
</div>
<form asp-controller="UserAccount" asp-action="Edit" method="get">
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Edit </button>
    </div>
</form> 
    

