@model ExBook.Models.WhishList.WishListViewModel
@{
    ViewData["Title"] = "Your Wish List";
    string[] TableHeaders = new string[] {
                        "Book Title"
                        ,"Author"
                        ,"Created"
                        ,"Actions"
                        };
}


@*<h1>Index</h1>
    @foreach (var book in Model.Books)
    {
        <div>Book Title: @book.Book.Name </div>
    }
*@
<style>

.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

  td, th {
    vertical-align: middle;
  }
    .center {
      /*  margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);*/
         display: inline-block;
          vertical-align: bottom;
    }
</style>

<div class="container">
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
            </thead>

            <tbody>
            @{
                if (Model != null)
                {
                    foreach (var book in Model.Books)
                    {
                        <tr>
                            <td> @book.Book.Name</td>
                            <td> @book.Book.Author</td>
                            <td> @book.Book.Created</td>
                            <form asp-controller="AddToWishList" asp-route-id="@book.Book.Id" asp-action="RemoveBookFromWishList" method="post">
                             <td><button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></td>
                             </form>
                        </tr>

                       
                        
                    }
                }
            }
            </tbody>
        </table>
    </div>
</div>
</div>


 <div class="center">
        <form asp-area="" asp-controller="WishList" asp-action="Add">
            <button type="submit" class="btn btn-dark">Add</button>
        </form>
    </div>


