@model ExBook.Models.InitializeTransaction.InitializeTransactionViewModel
@{
    ViewData["Title"] = "Start transaction";
}

<h1 style="color:cornflowerblue;text-align:center" >New transaction</h1>

<div>
    <div "class="card-header">
        Add books you can exchange
    </div>
    <table width="100%" class="table table-striped">
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Add to the offer</th>
        </tr>


        @foreach (var book in Model.initiatorBooks)
        {
    <tr>
        <td>@book.Book.Author</td>
        <td>@book.Book.Name</td>

        @if (!GetIsInInitiatorBooks(@book))
        {
            <td>
                <input type="submit" value="Add" title="Add this book to the transaction" class="btn btn-primary btn-sm"
                       id="@book.Id"
                       onclick="AddToInitiatorBooks('@book.Id',' @Model.transaction.Id' );" />
            </td>

        }
        else
        {
            <td>
                <input type="submit" value="Add" title="This book is already included in the transaction" class="btn btn-secondary btn-sm"
                       id="@book.Id"
                       onclick="AddToInitiatorBooks('@book.Id','@Model.transaction.Id');" />
            </td>
        }
    </tr>

        }


    </table>
</div>
<br />
<div>
    <div " class="card-header">
        Add more books you want to get from the exchange
    </div>
    <table width="100%" class="table table-striped">
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Add to the offer</th>
        </tr>


        @foreach (var book in Model.recipientBooks)
        {
            <tr>
                <td>@book.Book.Name</td>
                <td>@book.Book.Author</td>

                @if (!GetIsInRecipientBooks(@book))
                {
                    <td>
                        <input type="submit" value="Add" title="Add this book to the transaction" class="btn btn-primary btn-sm"
                               id="@book.Id"
                               onclick="AddToRecipientBooks('@book.Id',' @Model.transaction.Id' );" />
                    </td>

                }
                else
                {
                    <td>
                        <input type="submit" value="Add" title="This book is already included in the transaction" class="btn btn-secondary btn-sm"
                               id="@book.Id"
                               onclick="AddToRecipientBooks('@book.Id','@Model.transaction.Id');" />
                    </td>
                }
            </tr>
        }


    </table>
</div>
<br />
<br />
<br />
<div class="center" style="text-align:center">
    <form asp-controller="FinalizeTransaction" asp-route-id="@Model.transaction.Id" asp-action="Index" method="post">
        <input type="submit" class="btn btn-primary btn-sm" value="Continue" />
    </form>
</div>


@functions
{
    private bool GetIsInRecipientBooks(ExBook.Data.BookShelfBook bsb)
    {
        return Model.transaction.RecipientBooks.Any(trb => trb.Id == bsb.Id);
    }

    private bool GetIsInInitiatorBooks(ExBook.Data.BookShelfBook bsb)
    {
        return Model.transaction.InitiatorBooks.Any(trb => trb.Id == bsb.Id);
    }
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function AddToRecipientBooks(idb, idt) {
        {
            $.ajax({
                url: '/InitializeTransaction/AddToRecipientBooks',
                data: { idb: idb, idt: idt },
                type: 'POST'
            }).done(function (response) {
                if (response == true) {
                    if ($(document.getElementById(idb)).hasClass('btn-primary')) {
                        $(document.getElementById(idb)).removeClass('btn-primary').addClass('btn-secondary');
                    }
                    else {
                        $(document.getElementById(idb)).removeClass('btn-secondary').addClass('btn-primary');
                    }

                }
            });
        }
    }
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function AddToInitiatorBooks(idb, idt) {
        {
            $.ajax({
                url: '/InitializeTransaction/AddToInitiatorBooks',
                data: { idb: idb, idt: idt },
                type: 'POST'
            }).done(function (response) {
                if (response == true) {
                    if ($(document.getElementById(idb)).hasClass('btn-primary')) {
                        $(document.getElementById(idb)).removeClass('btn-primary').addClass('btn-secondary');
                    }
                    else {
                        $(document.getElementById(idb)).removeClass('btn-secondary').addClass('btn-primary');
                    }

                }
            });
        }
    }
</script>
